//
// UTILITIES
// @author Ben Shackleton
//

// No child margin / padding.
%ncmp {
    &>:first-child {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
    
    &>:last-child {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
}

//
// MEDIA BREAKPOINTS
// @author Ben Shackleton
//

// Breakpoint Map
$breakpointMap: (
  'mobile': 479px,
  'tablet': 991px,
  'desktop': 1024px
) !default;

// Breakpoint Mixins
@mixin screen($key) {
    @if map-has-key($breakpointMap, $key) {
        @media (min-width: #{inspect(map-get($breakpointMap, $key)) }) {
            @content;
        }
    }

    @else {
        @error "BREAKPOINT `#{$key}` DOES NOT EXIST!";
    }
}

@mixin screenDown($key) { /* TODO: FIX THIS */
    @if map-has-key($breakpointMap, $key) {
        @media (max-width: #{inspect(map-get($breakpointMap, $key))} - 1px) {
            @content;
        }
    }

    @else {
        @error "BREAKPOINT `#{$key}` DOES NOT EXIST!";
    }
}