@import './utilities';
@import './variables';


@include screen('tablet') {
  .slide-image {
    opacity: 0;
    transition: 0.25s ease opacity;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    pointer-events: none;
    display: block;

    &.active {
      opacity: 1;
    }
  }
}

.stringStyleWrapper {
  display: inline-block;
  overflow: hidden;
}

.stringStyleBefore {
  display: block;
  transform: translateY(100%);
  transition: 0.5s ease all;
  white-space: pre;
}

.stringStyleAfter {
  white-space: pre;
  transform: translateY(0);
}

.sym-container {
  @extend %ncmp;
}

.sym-menu {
  transform: translateY(-100%);
  transition: 0.5s ease transform;
  pointer-events: none;
  z-index: 100;
  width: 100vw;
  opacity: 0;

  &.visible {
    transform: translateY(0);
    pointer-events: initial;
    opacity: 1;
  }
}

.sym-menu__link {
  &:hover {
    position: relative;
    color: $grey-dark;

    &::before {
      content: '';
      position: absolute;
      width: 300%;
      height: 100%;
      top: 0.1em;
      left: -100%;
      background-color: $grey-light;
      z-index: -1;
    }
  }
}

.sym-navbar__burger,
.sym-navbar__close {
  cursor: pointer;
}

// .sym-navbar {
//   .ticker-trade-now.menu {
//     display: none;

//     @include screen('tablet') {
//       &.visible {
//         display: block;
//       }
//     }
//   }
// }

.feature-container {
  @include screen('tablet') {
    position:-webkit-sticky;
    position: sticky;
    top: 80px;

    &.no-top {
      top: 0px;
    }
  }
}

.sym-navbar {
  .sym-navlogo {
    display: none;
  }

  &.block-chain {
    .sym-navbar__asterix {
      color: $grey-light;
    }
  }

  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: $grey-light;
    z-index: -1;
    opacity: 0;
    transition: 0.5s ease opacity;
  }

  &::after {
    content: '';
    width: 50%;
    left: auto;
    right: 0;
    background-color: $grey-dark;
  }

  @include screen('desktop') {
    &::before {
      width: 50%;
    }

    &::after {
      width: 50%;
    }
  }

  .sym-navbar__asterix {
    color: $grey-dark;
  }

  &.scrolled {
    .sym-navlogo {
      display: block;
    }

    &::before, &::after {
      opacity: 1;
    }
  }
}

.sym-jumbotron__heading {
  @include screen('tablet') {
    overflow: hidden;

    .sym-jumbotron__cta {
      transition: 0.5s ease transform;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: -100%;
        background-color: inherit;
      }

      &:hover {
        transform: translateX(-15%);
      }
    }
  }
}

.sym-2cta {
  @include screen('tablet') {
    overflow: hidden;

    .sym-2cta__block {
      transition: 0.5s ease transform;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: -100%;
        background-color: inherit;
      }

      &:hover {
        transform: translateX(-15%);
        z-index: 100;
      }

      &.yellow {
        &::after {
          right: auto;
          left: -100%;
        }

        &:hover {
          transform: translateX(15%);
        }
      }
    }
  }
}

.sym-bc-cta {
  @include screen('tablet') {
    overflow: hidden;

    .sym-bc-cta__block {
      transition: 0.5s ease transform;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        background-color: inherit;
      }

      &:hover {
        transform: translateX(15%);
        z-index: 100;
      }

      &.orange {
        &::after {
          left: auto;
          right: -100%;
        }

        &:hover {
          transform: translateX(-15%);
        }
      }
    }
  }
}

@keyframes slideIn {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0%); }
}

.sym-blockchain__image {
  transform: translateX(200%);
  animation: slideIn 0.25s ease-out;
  animation-fill-mode: forwards;

  &._1 { animation-delay: 0.25s; }
  &._2 { animation-delay: 0.5s; }
  &._3 { animation-delay: 0.75s; }
  &._4 { animation-delay: 1s; }
}


.sym-asterix {
  width: 300px;
  height: 300px;
  background-image: url('https://uploads-ssl.webflow.com/5cc38bbd856843066f56f473/5cd083bab5499f5684f6b191_spin2.png');
}

.sym-footer__block.grey {
  a {
    color: $grey-light;
    &:hover {
      color: $grey-light;
    }
  }
}

.sym-asterix.animate {
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
  -webkit-animation-name: belo-animation;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: step-start;
  -moz-animation-name: belo-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: step-start;
  animation-name: belo-animation;
}

@-webkit-keyframes belo-animation {
  0% {
    background-position: 0 0px
  }

  2.32558% {
    background-position: 0 -300px
  }

  4.65116% {
    background-position: 0 -600px
  }

  7.97674% {
    background-position: 0 -900px
  }

  10.30233% {
    background-position: 0 -1200px
  }

  13.62791% {
    background-position: 0 -1500px
  }

  15.95349% {
    background-position: 0 -1800px
  }

  17.27907% {
    background-position: 0 -2100px
  }

  19.60465% {
    background-position: 0 -2400px
  }

  22.93023% {
    background-position: 0 -2700px
  }

  25.25581% {
    background-position: 0 -3000px
  }

  27.5814% {
    background-position: 0 -3300px
  }

  29.90698% {
    background-position: 0 -3600px
  }

  32.23256% {
    background-position: 0 -3900px
  }

  35.55814% {
    background-position: 0 -4200px
  }

  38.88372% {
    background-position: 0 -4500px
  }

  41.2093% {
    background-position: 0 -4800px
  }

  44.53488% {
    background-position: 0 -5100px
  }

  46.86047% {
    background-position: 0 -5400px
  }

  49.18605% {
    background-position: 0 -5700px
  }

  52.51163% {
    background-position: 0 -6000px
  }

  55.83721% {
    background-position: 0 -6300px
  }

  58.16279% {
    background-position: 0 -6600px
  }

  61.48837% {
    background-position: 0 -6900px
  }

  63.81395% {
    background-position: 0 -7200px
  }

  66.13953% {
    background-position: 0 -7500px
  }

  69.46512% {
    background-position: 0 -7800px
  }

  71.7907% {
    background-position: 0 -8100px
  }

  73.11628% {
    background-position: 0 -8400px
  }

  75.44186% {
    background-position: 0 -8700px
  }

  77.76744% {
    background-position: 0 -9000px
  }

  79.09302% {
    background-position: 0 -9300px
  }

  82.4186% {
    background-position: 0 -9600px
  }

  85.74419% {
    background-position: 0 -9900px
  }

  88.06977% {
    background-position: 0 -10200px
  }

  90.39535% {
    background-position: 0 -10500px
  }

  92.72093% {
    background-position: 0 -10800px
  }

  94.04651% {
    background-position: 0 -11100px
  }

  96.37209% {
    background-position: 0 -11400px
  }

  98.69767% {
    background-position: 0 -11700px
  }

  99% {
    background-position: 0 -12000px
  }
}

@keyframes belo-animation {
  0% {
    background-position: 0 0px
  }

  2.32558% {
    background-position: 0 -300px
  }

  4.65116% {
    background-position: 0 -600px
  }

  7.97674% {
    background-position: 0 -900px
  }

  10.30233% {
    background-position: 0 -1200px
  }

  13.62791% {
    background-position: 0 -1500px
  }

  15.95349% {
    background-position: 0 -1800px
  }

  17.27907% {
    background-position: 0 -2100px
  }

  19.60465% {
    background-position: 0 -2400px
  }

  22.93023% {
    background-position: 0 -2700px
  }

  25.25581% {
    background-position: 0 -3000px
  }

  27.5814% {
    background-position: 0 -3300px
  }

  29.90698% {
    background-position: 0 -3600px
  }

  32.23256% {
    background-position: 0 -3900px
  }

  35.55814% {
    background-position: 0 -4200px
  }

  38.88372% {
    background-position: 0 -4500px
  }

  41.2093% {
    background-position: 0 -4800px
  }

  44.53488% {
    background-position: 0 -5100px
  }

  46.86047% {
    background-position: 0 -5400px
  }

  49.18605% {
    background-position: 0 -5700px
  }

  52.51163% {
    background-position: 0 -6000px
  }

  55.83721% {
    background-position: 0 -6300px
  }

  58.16279% {
    background-position: 0 -6600px
  }

  61.48837% {
    background-position: 0 -6900px
  }

  63.81395% {
    background-position: 0 -7200px
  }

  66.13953% {
    background-position: 0 -7500px
  }

  69.46512% {
    background-position: 0 -7800px
  }

  71.7907% {
    background-position: 0 -8100px
  }

  73.11628% {
    background-position: 0 -8400px
  }

  75.44186% {
    background-position: 0 -8700px
  }

  77.76744% {
    background-position: 0 -9000px
  }

  79.09302% {
    background-position: 0 -9300px
  }

  82.4186% {
    background-position: 0 -9600px
  }

  85.74419% {
    background-position: 0 -9900px
  }

  88.06977% {
    background-position: 0 -10200px
  }

  90.39535% {
    background-position: 0 -10500px
  }

  92.72093% {
    background-position: 0 -10800px
  }

  94.04651% {
    background-position: 0 -11100px
  }

  96.37209% {
    background-position: 0 -11400px
  }

  98.69767% {
    background-position: 0 -11700px
  }

  99% {
    background-position: 0 -12000px
  }
}
